NEXT_PUBLIC_APP_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
WHATSAPP_SERVICE_URL=
INTERNAL_API_KEY=
ELEVAPAY_WEBHOOK_TOKEN=
MEU_NUMERO_TESTE=
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
AUTH_SECRET=
